# R specific
.Rproj.user/
.Rhistory
.RData

# R package build artifacts
#*_*.tar.gz
*_*.Rcheck/

# R package development
.Renviron
.Renviron.user
.Rprofile.site
.Rprofile.user
.Rproj

# Compiled R objects
*.RData
*.rds

# macOS system files
.DS_Store

# Temporary files
*.bak
*.swp

# Dependency management
renv.lock

# Environment files
.Renviron.lock
